* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}

:root {
    --primaryColor: #324467;
    --secondaryColor: #283142;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #7c7c7c42;
    --btnAdd: #00bcd4;
    --borderGray: rgba(255, 255, 255, 0.2);
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
    --mainRed: #f6f6f6;
    --nav-width: 250px;
}

body {
    color: var(--mainBlack);
}

.notes {
    display: flex;
}

.notes__sidebar {
    width: var(--nav-width);
    height: 100vh;
    background: linear-gradient(180deg, var(--primaryColor), var(--secondaryColor));
    color: var(--mainWhite);
    padding: 1.5rem 0.75rem 0.2rem;
    display: flex;
    flex-direction: column;
    border-radius: 0 100px 0 0;
}

.notes__list {
    padding: 0;
    flex-grow: 1;
    overflow-y: auto;
}

.notes__sidebar-add-btn {
    margin-bottom: 1rem;
    padding: 8px;
    border-radius: 4px;
    border: none;
    background-color: var(--btnAdd);
    color: var(--mainWhite);
    cursor: pointer;
}

.notes__logo {
    border-bottom: 1px solid var(--borderGray);
    padding-bottom: 16px;
}

.notes__list-item {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}

.notes__list-item-selected {
    background: #ffffff57;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.notes__list-item span {
    padding-bottom: 5px;
}

.notes__list-item-hr {
    border-color: var(--borderGray);
    background-color: var(--borderGray);
}

.notes__list::-webkit-scrollbar {
    display: none;
}

.notes__preview {
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    flex-grow: 1;
}

.notes__preview-title,
.notes__preview-body {
  border: 1px solid var(--mainGrey);
  outline: none;
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
}

.notes__preview-body {
  flex-grow: 1;
  font-size: 1.2em;
  line-height: 1;
  margin-top: 1em;
  resize: none;
} 

.notes__preview-save-btn{
    margin-top: 1rem;
    background-color: #009578;
    color: var(--mainWhite);
    border: none;
    border-radius: 5px;
    padding:10px;
    width: 150px;
    cursor: pointer;
}

.notes__list-item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trash{
    margin-right: 10px;
    background-color: var(--mainWhite);
    padding: 10px;
    border-radius: 50px;
    color: #fa689a;
    cursor: pointer;
    font-size: 15px;
}